---
import Layout from "../layouts/Layout.astro";

type Image = {
  id: string;
  src: string;
  alt: string;
};

const images: Image[] = [
  {
    id: "1",
    src: "/images/photo1.jpg",
    alt: "",
  },
  {
    id: "2",
    src: "/images/photo2.jpg",
    alt: "",
  },
  {
    id: "3",
    src: "/images/photo3.jpg",
    alt: "",
  },
  {
    id: "4",
    src: "/images/photo4.jpg",
    alt: "",
  },
  {
    id: "5",
    src: "/images/photo5.jpg",
    alt: "",
  },
];
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="text-2xl text-center title">My Garally</h1>
    <div class="h-14"></div>
    <div id="container" class="grid gap-4 grid-cols-3">
      {
        images.map((v) => (
          <a href={`/photo/${v.id}`}>
            <img
              class="photo-link rounded-md cursor-pointer transition hover:scale-[1.1] shadow-lg"
              style={{ viewTransitionName: `photo${v.id}` }}
              src={v.src}
              alt={v.alt}
              width="320"
            />
          </a>
        ))
      }
    </div>
  </main>
</Layout>

<script>
  const links = document.querySelectorAll("a.photo-link");
  links.forEach((link) => {
    link.addEventListener("click", (e) => {
      e.preventDefault();
      (document as any).startViewTransition(() => {
        location.href = (e.currentTarget as HTMLAnchorElement).href;
      });
    });
  });
  const container = document.getElementById("container");
  window.addEventListener("resize", () => {
    const width = window.innerWidth;
    if (!container) return;

    (document as any).startViewTransition(() => {
      container.classList.toggle("grid-cols-1", width <= 614);
      container.classList.toggle("grid-cols-2", 614 < width && width <= 1000);
      container.classList.toggle("grid-cols-3", width > 800);
      //   if (width <= 414) {
      //   } else if (414 < width && width <= 800) {
      //     container.classList.toggle("grid gap-4 grid-cols-2", true);
      //   } else {
      // 	container.classList.toggle("grid gap-4 grid-cols-3", true);
      //   }
    });
    if (width <= 614) {
      (document as any).startViewTransition(() => {
        container.classList.toggle("grid-cols-1", width <= 614);
      });
    } else if (614 < width && width <= 1000) {
      (document as any).startViewTransition(() => {
        container.classList.toggle("grid-cols-2", 614 < width && width <= 1000);
      });
    } else {
      (document as any).startViewTransition(() => {
        container.classList.toggle("grid-cols-3", width > 1000);
      });
    }
  });
</script>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 80%;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .title {
    font-family: 'Bruno Ace SC', cursive;
	view-transition-name: header-title;
  }
</style>
